.login-form {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 1px 1px 10px 1px black;
}

.login-page-change-div {
    margin-bottom: 10px;
}

.student-login-btn {
    background-color: transparent;
    height: 25px;
    width: 50%;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid black;
    color: #9a9a9a;
    cursor: pointer;
}

.active-btn {
    background-color: transparent;
    height: 25px;
    width: 50%;
    font-size: 17px;
    color: #789c05;
    border: none;
    border-bottom: 2px solid #ff5202;
    cursor: pointer;
}

.parent-login-btn {
    background-color: transparent;
    height: 25px;
    width: 50%;
    font-size: 17px;
    border: none;
    color: #9a9a9a;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.login-label {
    margin-bottom: 3px;
    font-size: 14px;
}

.login-input {
    outline: none;
    border: none;
    background-color: #f1f1f1;
    height: 30px;
    width: 280px;
    margin-bottom: 10px;
}

.login-input:focus {
    outline: 3px solid lightblue;
}

.login-form-btn {
    background-color: black;
    border: none;
    color: #ffffff;
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
}

.form-end-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.forgot-password-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}